
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link  rel="stylesheet" href="../../public/css/restaurants.css" type="text/css"> 
    <link  rel="stylesheet" href="../../public/css/headerNav.css" type="text/css">
  </head>

  <body>
    {{>header}}

    <div class="container">
  
            {{#each user}}
            <div class="single">
                <div class="bodyImage">
                    <h3> 
                      <img src="../../public/image/user.png" width="5" height="5" align="5"> 
                      <a class="title"  class="btn btn-lg btn-primary btn-block"><a></a><a>{{this._id}}</a><a></a><a>&nbsp&nbsp&nbsp&nbsp{{this.local.email}}</a>
                      <form id="user" action="/reviewHistory" method="post">
                      <button type="submit" class="btn btn-primary btn-sm" style="width:80px; height:30px;font-size:10px">Reviews History</button>
                    </form>
                    </h3>
                </div>
            {{/each}}  
            
        {{>footer}} 
    </div>
  </body>
</html>

