<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hoboken Restaurant</title>
    <link  rel="stylesheet" href="../../public/css/restaurants.css">
</head>
<body>

    {{{body}}}

</body>
</html>