
  <body>

    {{>header}}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Search Your Restaurants in Hoboken</h2>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>

    <div class="container">
      <div class="row" >
          {{#each all}}
           <div class="col-md-4">
              <h2>{{this.R_name}}</h2>
              <p>{{this.R_href}}</p>
              
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>     
           </div>
          {{/each}}    
      </div>   
      <hr>

      {{>footer}} 
    </div> 

  </body>
</html>