<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link  rel="stylesheet" href="../../public/css/headerNav.css" type="text/css">
    <style>
      .carousel-inner img {
          -webkit-filter: grayscale(90%);
          filter: grayscale(90%); /* make all photos black and white */ 
          width: 100%; 
      }
      .jumbotron{
        background: white;
        height:auto;
        padding-bottom:10px;
      }
      .classify{
        margin:10px auto;
      }
      .logo {
        color: #1decbc;
        font-size: 50px;
      }
      .title{
        color: #1decbc;
      }
      p,h4,h3{
        color:#165446;
      }
      .panel{ 
        text-align: center;
       
      }
      .name{
        color:#165446;
      }
      .name:hover{
        color:#1decbc;
      }
      .bigContainer{
        margin-top:30px;
      }
    </style>
  </head>

  <body>

   {{>header}}
    <div class="jumbotron">
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 classify">
              <span class="glyphicon glyphicon-tags logo"></span>
              <h2><a class="title" href="/reviews/cuisine">CUISINE</a></h2>
            </div>
            <div class="col-sm-4 classify">
              <span class="glyphicon glyphicon-leaf logo"></span>
              <h2><a class="title" href="/reviews/rating">RATING</a></h2>
            </div>
            <div class="col-sm-4 classify">
              <span class="glyphicon glyphicon-certificate logo"></span>
              <h2><a class="title" href="/reviews/nearby">NEARBY</a></h2>
            </div>
        </div>
      </div>
    </div>

        
    <div class="carousel-inner">
        <img src="../../public/image/jumbotron.png"  width="1200" height="600">    
    </div>
    

    <div class="bigContainer">
        <div class="row" >
            {{#each all}}
                <div class="col-md-6">
                  <div class="panel">
                      <h4><span class="glyphicon glyphicon-cutlery"></span> {{this.R_name}}</h4> 
                      <a class="btn name" href="/restaurants/{{this._id}}" role="button">View details &raquo;</a></p>     
                  </div>
                </div>
            {{/each}}    
        </div>   
      <hr>

      {{>footer}} 
    </div> 

  </body>
</html>