<link  rel="stylesheet" href="../../public/css/restaurants.css" type="text/css"> 
    <link  rel="stylesheet" href="../../public/css/headerNav.css" type="text/css">


  <body>
    {{>header}}
    <div class="jumbotron">
      <div class="container">
         <p><a class="btn btn-lg learnmore" href="/restaurants/all" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  </body>
