<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio -->

<form> 
  <p>Please give a score to this restaurant</p>
  <div>
    <input type="radio" id="score0"
           name="score" value=0>
    <label for="score0">0</label>
    <input type="radio" id="score1"
           name="score" value=1>
    <label for="score1">1</label>
        <input type="radio" id="score2"
           name="score" value=2>
    <label for="score0">2</label>
     <input type="radio" id="score3"
           name="score" value=3>
    <label for="score3">3</label>
     <input type="radio" id="score4"
           name="score" value=4>
    <label for="score4">4</label>
     <input type="radio" id="score5"
           name="score" value=5 checked>
    <label for="score5">5</label>
     <input type="radio" id="score6"
           name="score" value=6>
    <label for="score6">6</label>
     <input type="radio" id="score7"
           name="score" value=7>
    <label for="score7">7</label>
         <input type="radio" id="score8"
           name="score" value=8>
    <label for="score8">8</label>
         <input type="radio" id="score9"
           name="score" value=9>
    <label for="score9">9</label>
         <input type="radio" id="score10"
           name="score" value=10>
    <label for="score10">10</label>
    <br>
<textarea rows="4" cols="50" name="comment" form="usrform">
Enter review here...</textarea>
<p class="text">user:{{user.email}}{{restaurantIds}}</p>
 
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
<pre id="log">
</pre>
    <script  src="/public/js/addReview.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
